<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.beeworkreactverbackend.mapper.UserTblMapper">

    <select id="getAdminUserList" resultType="com.example.beeworkreactverbackend.entity.UserTblEntity">
        SELECT USER_CD,
        COMPANY_ID,
        AUTHORITY,
        SEX,
        USER_TEL,
        USER_MAIL,
        PHOTO_ADDRESS,
        USER_STATUS,
        UPDATE_TIME,
        LAST_NAME,
        FIRST_NAME
        FROM USER_TBL
        WHERE DEL_FLG = '0'
        AND (
        AUTHORITY IN ('21', '31')
        OR (AUTHORITY = '11' AND #{form.authority} = '00')
        )
        <if test="form.userName != null and form.userName != ''">
            AND CONCAT(IFNULL(LAST_NAME,''), IFNULL(FIRST_NAME,'')) LIKE CONCAT('%', #{form.userName}, '%')
        </if>
        <if test="form.userMail != null and form.userMail != ''">
            AND USER_MAIL LIKE CONCAT('%', #{form.userMail}, '%')
        </if>
        <if test="form.userTel != null and form.userTel != ''">
            AND USER_TEL LIKE CONCAT('%', #{form.userTel}, '%')
        </if>
        ORDER BY UPDATE_TIME DESC
    </select>

    <update id="userDelete">
        UPDATE USER_TBL
        SET DEL_FLG     = '1',
            UPDATE_TIME = CURRENT_TIMESTAMP(0),
            UPDATE_BY   = 'SYSTEM'
        WHERE USER_CD IN ${userIDs}
    </update>

    <insert id="insertUserInto" parameterType="com.example.beeworkreactverbackend.entity.UserTblEntity">
        insert into USER_TBL
        (USER_CD,
         PWD,
         COMPANY_ID,
         AUTHORITY,
         FIRST_NAME_KANA,
         FIRST_NAME,
         LAST_NAME_KANA,
         LAST_NAME,
         SEX,
         COUNTRY_ZIP,
         USER_TEL,
         USER_MAIL,
         PHOTO_ADDRESS,
         USER_STATUS,
         DEL_FLG,
         CREATE_TIME,
         CREATE_BY,
         UPDATE_TIME,
         UPDATE_BY)
        values ((SELECT next_cd
                 FROM (SELECT COALESCE(MAX(USER_CD), 0) + 1 AS next_cd
                       FROM USER_TBL) next_user),
                #{userEntity.pwd},
                #{userEntity.companyId},
                #{userEntity.authority},
                #{userEntity.firstNameKana},
                #{userEntity.firstName},
                #{userEntity.lastNameKana},
                #{userEntity.lastName},
                #{userEntity.sex},
                #{userEntity.countryZip},
                #{userEntity.userTel},
                #{userEntity.userMail},
                #{userEntity.photoAddress},
                COALESCE(#{userEntity.userStatus}, '0'),
                '0',
                CURRENT_TIMESTAMP(0),
                'SYSTEM',
                CURRENT_TIMESTAMP(0),
                'SYSTEM')
    </insert>

    <select id="getUserInfo" resultType="com.example.beeworkreactverbackend.entity.UserTblEntity">
        SELECT USER_CD,
               PWD,
               COMPANY_ID,
               AUTHORITY,
               FIRST_NAME_KANA,
               FIRST_NAME,
               LAST_NAME_KANA,
               LAST_NAME,
               SEX,
               COUNTRY_ZIP,
               USER_TEL,
               USER_MAIL,
               PHOTO_ADDRESS,
               USER_STATUS,
               DEL_FLG,
               CREATE_TIME,
               CREATE_BY,
               UPDATE_TIME,
               UPDATE_BY
        FROM USER_TBL
        WHERE USER_CD = #{userId}
    </select>

    <update id="updateUserInfo" >
        UPDATE
        USER_TBL
        SET
        <if test="a0002VueForm.firstNameKana != null and a0002VueForm.firstNameKana != ''">
            FIRST_NAME_KANA = #{a0002VueForm.firstNameKana},
        </if>
        <if test="a0002VueForm.firstName != null and a0002VueForm.firstName != ''">
            FIRST_NAME = #{a0002VueForm.firstName},
        </if>
        <if test="a0002VueForm.lastNameKana != null and a0002VueForm.lastNameKana != ''">
            LAST_NAME_KANA = #{a0002VueForm.lastNameKana},
        </if>
        <if test="a0002VueForm.lastName != null and a0002VueForm.lastName != ''">
            LAST_NAME = #{a0002VueForm.lastName},
        </if>
        <if test="a0002VueForm.sex != null and a0002VueForm.sex != ''">
            SEX = #{a0002VueForm.sex},
        </if>
        <if test="a0002VueForm.countryZip != null and a0002VueForm.countryZip != ''">
            COUNTRY_ZIP = #{a0002VueForm.countryZip},
        </if>
        <if test="a0002VueForm.userTel != null and a0002VueForm.userTel != ''">
            USER_TEL = #{a0002VueForm.userTel},
        </if>
        <if test="a0002VueForm.photoAddress != null and a0002VueForm.photoAddress != ''">
            PHOTO_ADDRESS = #{a0002VueForm.photoAddress},
        </if>
        UPDATE_TIME = CURRENT_TIMESTAMP(0)
        WHERE
        USER_CD = #{a0002VueForm.userCd}

    </update>

        </mapper>
